<h1 id="allies">Community allies</h1>

<p>Communities we love and support.</p>

<div class="ally_items">
    <a href="https://www.spain-ai.com/"><img height="100" src="./assets/images/Spain-AI_logo.png"></a>
    <a href="https://dotnetmalaga.es"><img height="100" src="./assets/images/dotnet_malaga.webp"></a>
    <a href="https://encuentrostech.com"><img height="100" src="./assets/images/encuentros-tech.jpg"></a>
</div>
<div class="ally_items">
    <a href="https://www.meetup.com/es-ES/BoqueronSec/"><img height="100" src="./assets/images/boqueron-sec.jpg"></a>
    <a href="https://www.meetup.com/es-ES/qa-malaga/"><img height="100" src="./assets/images/qa-malaga.webp"></a>
    <a href="https://www.meetup.com/golang-malaga/"><img height="100" src="./assets/images/golang-malaga.webp"></a>

</div>
<div class="ally_items">
    <a href="https://friends.figma.com/malaga/"><img height="100" src="./assets/images/FoF-malaga.png"></a>
    <a href="http://wpmalaga.org/"><img height="100" src="./assets/images/wpmalaga-logo.png"></a>
    <a href="http://www.linux-malaga.org"><img height="100" src="./assets/images/lima.jpg"></a>
</div>
<div class="ally_items">
    <a href="https://malagajug.wordpress.com"><img height="100" src="./assets/images/malaga-jug.jpg"></a>
    <a href="https://www.meetup.com/es-ES/go-mad/"><img height="100" src="./assets/images/logo_goMAD.png"></a>
    <a href="https://www.opensouthcode.org"><img height="100" src="./assets/images/OSC_large.png"></a>
</div>