<h1 id="team">The Malaga-AI team</h1>
<div class="items">
    <a href="mailto:adrian@malaga-ai.community">
        <div class="centered">
            <img class="circle-mask" width="120" height="120" src="./assets/images/adrian.jpeg">
            Adrian Tineo
        </div>
    </a>
    <a href="mailto:rosa@malaga-ai.community">
        <div class="centered">
            <img class="circle-mask" width="120" height="120" src="./assets/images/rosa.jpeg">
            Rosa Castillo
        </div>
    </a>
    <a href="mailto:angela@malaga-ai.community">
        <div class="centered">
            <img class="circle-mask" width="120" height="120" src="./assets/images/angela.jpeg">
            Angela Lupiañez
        </div>
    </a>
    <a href="mailto:jose@malaga-ai.community">
        <div class="centered">
            <img class="circle-mask" width="120" height="120" src="./assets/images/jose.jpeg">
            Jose Luis Hernández
        </div>
    </a>
    <a href="mailto:demo@malaga-ai.community">
        <div class="centered">
            <img class="circle-mask" width="120" height="120" src="./assets/images/demo.jpeg">
            Demo Peláez
        </div>
    </a>
</div>