<h1 id="team">The Malaga-AI team</h1>
<div class="team_items">
    <a href="mailto:adrian@malaga-ai.community">
        <img class="circle-mask" width="100" height="100" src="./assets/images/adrian.jpeg">
        <p class="wrapped">Adrian Tineo</p>
    </a>
    <a href="mailto:rosa@malaga-ai.community">
        <img class="circle-mask" width="100" height="100" src="./assets/images/rosa.jpeg">
        <p class="wrapped">Rosa Castillo</p>
    </a>
    <a href="mailto:jorge@malaga-ai.community">
        <img class="circle-mask" width="100" height="100" src="./assets/images/jorge.jpeg">
        <p class="wrapped">Jorge Galván</p>
    </a>
</div>

<div class="team_items">
    <a href="mailto:angela@malaga-ai.community">
        <div>
            <img class="circle-mask" width="100" height="100" src="./assets/images/angela.jpeg">
            <p class="wrapped">Angela Lupiañez</p>
        </div>
    </a>
    <a href="mailto:jose@malaga-ai.community">
        <img class="circle-mask" width="100" height="100" src="./assets/images/jose.jpeg">
        <p class="wrapped">Jose Luis Hernández</p>
    </a>
    <a href="mailto:demo@malaga-ai.community">
        <div>
            <img class="circle-mask" width="100" height="100" src="./assets/images/demo.jpeg">
            <p class="wrapped">Demo Peláez</p>
        </div>
    </a>
</div>